[Unit]
Description=Run restic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/restic-wrap -p /etc/restic/profile.yaml backup
